<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>

    $(document).ready(function () {

        var getMyTicket = $.cookie("cookieTicket");
        var getFirstNm = $.cookie("firstNm");
        var getLastNm = $.cookie("lastNm");
        var getRoleId = $.cookie("role_id");
        var getUserId = $.cookie("userID");

        var htmlLogin = "";
        // $("#checkLogIn").remove();
        
        var newURL ="";
        if (getFirstNm != undefined && getLastNm != undefined && getRoleId != undefined) {
            htmlLogin = '<a style="color: white;">' + getFirstNm + " " + getLastNm + '</a>';
            $("#checkLogIn").append(htmlLogin);
            newURL = "/history/ticket/";
        } else {
            newURL = "/login";
            htmlLogin = '<a href="/login" style="color: white;">Login</a>';
            $("#checkLogIn").append(htmlLogin);
        }
        $("#linkCart").attr("href", newURL);

        if (getMyTicket == "" || getMyTicket == undefined) {
            $(".numCart").text("0");
        } else {
            $(".numCart").text("1");
        }
        loadCategoryData()




        getFilterCateData()

    })

    function getFilterCateData() {

        var urlUpdate = window.location.pathname;
        var cate = urlUpdate.replace("/type/", "");



        $.ajax('/api/category/' + cate, {
            "type": "GET",
            // "data": {
            //     keyval: key
            // }
        }).done(function (res) {
            console.log(res)

            let htm_div = "";

            $("#listData").empty();

            if (res.length > 0) {
                $(".grid-container").removeClass('nodata')
                $(".grid-container").removeClass('height500')
                $('.categoryNm').text(res[0].cate_name)
                // grid-container
                for (let i = 0; i < res.length; i++) {
                    console.log(res[i].movie_name)
                    htm_div += '<div class="cards">' +
                        '<img src="/Images/' + res[i].movie_cover + '"/>' +
                        '<div class="timeShow"> <span> Last episode' + res[i].movie_release_date + '</span></div>' +
                        '<div><strong>' + res[i].movie_name + '</strong></div>' +
                        '<div class="btnDownload"><a href="/movie/' + res[i].movie_id + '" style="color:white; text-decoration: none;"><span>MORE INFO</span></a></div>' +
                        '</div>'
                }

                $("#listData").append(htm_div);

            } else {
                $(".grid-container").addClass('nodata')
            }





        }).fail(function (err) {
            console.log(err)
        })

    }





    function loadCategoryData() {
        $.ajax('/api/categories', {
            "type": "get",
        }).done((res) => {
            categories = res;
            let u = $("<ul></ul>")
            for (let category of res) {
                u.append('<li><a href="/type/' + category.cate_name + '">' + category.cate_name + '</a></li>')
            }
            u.append('<li><a href="#">' + "Contact Us" + '</a></li>')
            $(".nav").append(u);
        }).fail(() => {
            console.log("fail");
        })
    }








</script>

<style>
    .numCart {
        color: red;
        position: absolute;
        right: 25px;
        top: 15px;
        font-weight: bold;
    }

    .nodata {
        background-image: url("/img/datnotfound.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-size: 100% 100%;
        height: 500px;
    }

    .height500 {
        height: 500px;
    }
    .categoryNm{
        color: white;
        text-transform: uppercase;
        padding: 20px 0px 0px 38px;
    }
</style>

<body>

    <div class="container">

        <div class="myHeader">
            <div class="logo"><a href="/"><img src="/img/logo12.png" width="155px"></a></div>
            <div class="nav">

            </div>
            <div class="boxSearch" style="color: white;">
                <label for=""><a href="/filter/"><img src="/img/search-icon.png" width="20px" /></a></label> &nbsp;&nbsp; <b>|</b> &nbsp;&nbsp;
                <label for="" id="checkLogIn"></label>&nbsp;&nbsp; <b>|</b> &nbsp;&nbsp;
                <label for=""><a href="/history/ticket/" id="linkCart"><img src="/img/mvoie_cart.png" width="25px" /><span
                            class="numCart">0</span></a></label>
            </div>

        </div>

        <div class="" style="background-color: #2f363b; border: 5px solid white;">
            <div style="margin-top: 78px;">
                <h2 class="categoryNm"></h2>
                <div class="dataRowMovie">
                    <div class="grid-container height500" style="padding: 0px !important;" id="listData">
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">

            <div class="flex-container">
                <div class="flex-item-left">
                    <h4>About Us</h4>
                    <p style="text-align: justify;">We are an online database of
                        information related to films, television series, podcasts,
                        home videos, video games, and streaming content online –
                        including cast, production crew and personal biographies,
                        plot summaries, trivia, ratings, and fan and critical reviews.
                    <h5>Tel: +123456789</h5>
                    <h5>Email: info@moviesite.com</h5>

                    <div>
                        <span class="boxEmail"> Enter your Email</span>
                        <span class="boxEmail" style="background-color: rgb(241 150 1);color: white;"> Send</span>
                    </div>

                </div>
                <div class="flex-item-center">
                    <h4>Developed By</h4>
                    <ul>
                        <li>Name: <strong>Phearun Phin</strong></li>
                        <li>Name: <strong>Kevin Chemutai</strong></li>
                        <li>Name: <strong>Meseret Yihun Amare</strong></li>
                        <li>Name: <strong>Teketsel Mengistu Beyene</strong></li>

                    </ul>

                    <h4>Latest Tweet</h4>
                    <ol>
                        <li>Prepare for eye-popping, jaw-dropping, non-stopping fun! ⚡️
                            SHAZAM! FURY OF THE GODS – now playing only in theaters. Get tickets now</li>
                        <li>Actors - What one word would you say describes your character?
                            Writer(s) - What's your inspiration for these movies?</li>
                        <li>What are some of the things you and your character have in common? #MovieNight</li>
                    </ol>


                </div>
                <div class="flex-item-right">
                    <h4>Top Movies</h4>

                    <div class="grid-movies">

                        <div class="movies1"><img src="/img/m12.jpg" /></div>
                        <div class="movies2"><img src="/img/m5.jpg" /></div>
                        <div class="movies3"><img src="/img/m7.jpg" /></div>
                        <div class="movies4"><img src="/img/m13.jpg" /></div>

                    </div>
                </div>


            </div>

            <hr />
            <div>
                <div class="nav">
                </div>
                <div class="boxSearch">
                    <img src="/img/logo12.png" width="100px" />
                </div>
            </div>

        </div>


    </div>
</body>

</html>