<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<style>

</style>

<body>

    <div class="container">

        <div class="myHeader">
            <div class="logo"><img src="img/logo12.png" width="155px"></div>
            <div class="nav">
                <ul>
                    <li><a href="#">Romance</a></li>
                    <li><a href="#">Comedy</a></li>
                    <li><a href="#">Fantasy</a></li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Horror</a></li>
                    <li><a href="#">Thriller </a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>

            </div>
            <div class="boxSearch">
                <label for="" class="conLogin">
                    <a href="#">Login</a>
                </label>
                <label for=""><img src="img/search.png" width="30px" /></label>

            </div>

        </div>

        <div class="myBody">
            <div class="myContent">
                <div class="boxLeft">
                    <img src="img/1.jpg" width="100%" height="100%" />
                </div>

                <div class="boxCenter">
                    <div style="margin: 50px; background-color: white;">
                        <h1>
                            Abbott Elementary
                        </h1>
                        <hr />
                        <p>
                            Follows a group of teachers brought together in one of the worst public schools in the
                            country,
                            simply because they love teaching.
                        </p>
                        <a href="#">
                            DOWNLOAD HERE
                        </a>
                    </div>


                </div>

                <div class="boxRight">

                    <div class="monthActive">

                        <div style="padding: 20px; ">
                            <label>New Start</label>
                            <label style="float: right;">March</label>
                            <h3>Star Trek: Picard</h3>
                        </div>

                    </div>
                    <div class="monthStart">
                        <div style="padding: 20px; ">
                            <label>New Start</label>
                            <label style="float: right;">March</label>
                            <h3>Star Trek: Picard</h3>
                        </div>

                    </div>
                    <div class="monthStart">
                        <div style="padding: 20px; ">
                            <label>New Start</label>
                            <label style="float: right;">March</label>
                            <h3>Star Trek: Picard</h3>
                        </div>
                    </div>

                </div>
            </div>


            <div>
                <div class="dataRowMovie">
                    <p class="movieCategory">Romantic</p>
                    <div class="grid-container">
                        <div class="cards">
                            <img src="img/m1.jpg" />
                            <div class="timeShow"> <span> Last episode 2023/02/28</span></div>
                            <div><strong>The Good Doctor</strong></div>
                            <div class="btnDownload"><span>MORE INFO</span></div>
                        </div>
                        <div class="cards">
                            <img src="img/m2.jpg" />
                            <div class="timeShow"> <span> Last episode 2023/02/28</span></div>
                            <div><strong>The Good Doctor</strong></div>
                            <div class="btnDownload"><span>MORE INFO</span></div>
                        </div>
                        <div class="cards">
                            <img src="img/m3.jpg" />
                            <div class="timeShow"> <span> Last episode 2023/02/28</span></div>
                            <div><strong>The Good Doctor</strong></div>
                            <div class="btnDownload"><span>MORE INFO</span></div>
                        </div>
                        <div class="cards">
                            <img src="img/m4.jpg" />
                            <div class="timeShow"> <span> Last episode 2023/02/28</span></div>
                            <div><strong>The Good Doctor</strong></div>
                            <div class="btnDownload"><span>MORE INFO</span></div>
                        </div>
                        <div class="cards">
                            <img src="img/m5.jpg" />
                            <div class="timeShow"> <span> Last episode 2023/02/28</span></div>
                            <div><strong>The Good Doctor</strong></div>
                            <div class="btnDownload"><span>MORE INFO</span></div>
                        </div>
                    </div>
                </div>
                <div class="dataRowMovie">
                    <p class="movieCategory">History</p>
                    <div class="grid-container">
                        <div class="cards">
                            <img src="img/m1.jpg" />
                            <div class="timeShow"> <span> Last episode 2023/02/28</span></div>
                            <div><strong>The Good Doctor</strong></div>
                            <div class="btnDownload"><span>MORE INFO</span></div>
                        </div>
                        <div class="cards">
                            <img src="img/m2.jpg" />
                            <div class="timeShow"> <span> Last episode 2023/02/28</span></div>
                            <div><strong>The Good Doctor</strong></div>
                            <div class="btnDownload"><span>MORE INFO</span></div>
                        </div>
                        <div class="cards">
                            <img src="img/m3.jpg" />
                            <div class="timeShow"> <span> Last episode 2023/02/28</span></div>
                            <div><strong>The Good Doctor</strong></div>
                            <div class="btnDownload"><span>MORE INFO</span></div>
                        </div>
                        <div class="cards">
                            <img src="img/m4.jpg" />
                            <div class="timeShow"> <span> Last episode 2023/02/28</span></div>
                            <div><strong>The Good Doctor</strong></div>
                            <div class="btnDownload"><span>MORE INFO</span></div>
                        </div>
                        <div class="cards">
                            <img src="img/m5.jpg" />
                            <div class="timeShow"> <span> Last episode 2023/02/28</span></div>
                            <div><strong>The Good Doctor</strong></div>
                            <div class="btnDownload"><span>MORE INFO</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">

            <div class="flex-container">
                <div class="flex-item-left">
                    <h4>About Us</h4>
                    <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Exercitationem voluptatum ipsa nobis laboriosam, illum vel quam. Blanditiis porro voluptatum
                        corrupti, repellat tempora ullam temporibus ex aliquid officiis officia atque aliquam.</p>

                    <h5>Tel: +123456789</h5>
                    <h5>Email: phin.phearun2013@gmail.com</h5>

                    <div>
                        <span class="boxEmail"> Enter your Email</span>
                        <span class="boxEmail" style="background-color: rgb(241 150 1);color: white;"> Send</span>
                    </div>

                </div>
                <div class="flex-item-center">
                    <h4>Developed By</h4>
                    <ul>
                        <li>Name: <strong> Phearun Phin</strong></li>
                        <li>Email: <strong>phin.phearun2013@gmail.com</strong></li>

                    </ul>

                    <h4>Latest Tweet</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem voluptatum ipsa
                            nobis laboriosam, illum vel quam.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem voluptatum ipsa
                            nobis laboriosam, illum vel quam.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem voluptatum ipsa
                            nobis laboriosam, illum vel quam.</li>
                    </ul>


                </div>
                <div class="flex-item-right">
                    <h4>Top Movies</h4>

                    <div class="grid-movies">

                        <div class="movies1"><img src="img/m12.jpg" /></div>
                        <div class="movies2"><img src="img/m5.jpg" /></div>
                        <div class="movies3"><img src="img/m7.jpg" /></div>
                        <div class="movies4"><img src="img/m13.jpg" /></div>

                    </div>
                </div>


            </div>

            <hr />
            <div>
                <div class="nav">
                    <ul>
                        <li><a href="#">Today</a></li>
                        <li><a href="#">TV Series</a></li>
                        <li><a href="#">Trailers</a></li>
                        <li><a href="#">Series Calendar</a></li>
                        <li><a href="#">DMCA</a></li>
                        <li><a href="#">ADS Partnership </a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>

                </div>
                <div class="boxSearch">
                    <img src="img/logo12.png" width="100px" />
                </div>
            </div>

        </div>


    </div>
</body>

</html>