<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>

    $(document).ready(function () {

        var getMyTicket = $.cookie("cookieTicket");
        var getFirstNm = $.cookie("firstNm");
        var getLastNm = $.cookie("lastNm");
        var getRoleId = $.cookie("role_id");
        var getUserId = $.cookie("userID");

        var htmlLogin = "";
        // $("#checkLogIn").remove();
        if (getFirstNm != undefined && getLastNm != undefined && getRoleId != undefined) {
            htmlLogin = '<a style="color: white;">' + getFirstNm + " " + getLastNm + '</a>';
            $("#checkLogIn").append(htmlLogin);
        } else {

            htmlLogin = '<a href="/login" style="color: white;">Login</a>';
            $("#checkLogIn").append(htmlLogin);
        }

        if(getMyTicket == ""){
            hideTicketInfor();
        }else{
            $(".numCart").text("1");
        }
        loadCategoryData()
        loadHistoryRecord()

        var ticketInfor = JSON.parse(getMyTicket);

        console.log(ticketInfor.seatno.length)

        $(".movie_name").text(ticketInfor.movie_name)
        $(".theater").text(ticketInfor.theater)
        $(".seatno").text(ticketInfor.seatno)
        $(".showtime").text(ticketInfor.getTime);
        $(".showdate").text(ticketInfor.getDate);
        $(".price").text(ticketInfor.price);
        $(".discount").text(ticketInfor.discount);
        $(".total_price").text(ticketInfor.total_price);
        $('.fullNm').text(getFirstNm + " " + getLastNm)



        $("#btnPayment").click(function () {
            var remark = $("#remark").val().trim();

            $("#dataHirstoryRecord").empty();
            if (remark != "") {
                var showtime = ticketInfor.getDate + ticketInfor.getTime;
                var discount = ticketInfor.discount;
                var price = ticketInfor.price;
                var user_id = getUserId;
                var movie_id = ticketInfor.movie_id;
                var theater = ticketInfor.theater;
                var seatno = ticketInfor.seatno;
                var totalprice = ticketInfor.total_price

                console.log(user_id);

                $.ajax('/api/ticket/add', {
                    "type": "POST",
                    "data": {
                        'showtime': showtime,
                        'discount': discount,
                        'price': price,
                        'user_id': user_id,
                        'movie_id': movie_id,
                        'seatno': seatno,
                        'remark': remark,
                        'totalprice': totalprice
                    }
                }).done(function (data) {
                    console.log(data)

                    hideTicketInfor();
                    loadHistoryRecord() ;

                }).fail(function () {
                    console.log("fail");
                })


                console.log(movie_id)
            } else {
                alert("Please Bank Account")
            }

        })
    })

    function hideTicketInfor() {
        $("#removeTicket").remove()
        var html = "<h2>Congratulations enjoy your movie times</h2>"
        $("#dataTicket").append(html);
        $(".numCart").text("0");
    }

    function loadCategoryData() {
        $.ajax('/api/categories', {
            "type": "get",
        }).done((res) => {
            categories = res;
            let u = $("<ul></ul>")
            for (let category of res) {
                u.append('<li><a href="#">' + category.cate_name + '</a></li>')
            }
            u.append('<li><a href="#">' + "Contact Us" + '</a></li>')
            $(".nav").append(u);
        }).fail(() => {
            console.log("fail");
        })
    }


    function loadHistoryRecord() {
        $.ajax('/api/ticket/history', {
            "type": "get",
        }).done((res) => {
            var html_tr = "";
            for(var i=0; i<res.length;i++){
                html_tr += '<tr>'+
                            '<td>'+res[i].tickets_id +'</td>'+
                            '<td>'+ res[i].movie_id+'</td>'+
                            '<td>'+res[i].movie_id +'</td>'+
                            '<td>'+res[i].seatno +'</td>'+
                            '<td>'+res[i].showtimes +'</td>'+
                            '<td>'+res[i].movie_id +'</td>'+
                            '<td>%'+res[i].discount +'</td>'+
                            '<td>$'+res[i].totalprice +'</td>'+
                            '<td>'+res[i].user_id +'</td>'+
                        '</tr>'
            }
            


            if(res.length ==0){
                html_tr += '<tr>'+
                            '<td  colspan="9">No history record</td>'+
                            '</tr>'
            }
            $("#dataHirstoryRecord").append(html_tr);

            console.log(res)
           
            
                             
        }).fail(() => {
            console.log("fail");
        })
    }





</script>

<style>
    .numCart {
        color: red;
        position: absolute;
        right: 25px;
        top: 15px;
        font-weight: bold;
    }

    #historyRec tr th,
    #historyRec tr td {
        border: 1px solid white;
        margin: 0px;
        padding: 0px;
    }

    #historyRec {
        margin: 10px;
    }
</style>

<body>

    <div class="container">

        <div class="myHeader">
            <div class="logo"><a href="/"><img src="/img/logo12.png" width="155px"></a></div>
            <div class="nav">

            </div>
            <div class="boxSearch" style="color: white;">
                <label for=""><img src="/img/search-icon.png" width="20px" /></label> &nbsp;&nbsp; <b>|</b> &nbsp;&nbsp;
                <label for="" id="checkLogIn"></label>&nbsp;&nbsp; <b>|</b> &nbsp;&nbsp;
                <label for=""><a href="/history/ticket/"><img src="/img/mvoie_cart.png" width="25px" /><span
                            class="numCart">0</span></a></label>



            </div>

        </div>

        <div class="" style="background-color: #2f363b; height: 900px;border: 5px solid white;">

            <div style="padding-top: 100px;width: 100%; margin: 5px; color: white;">
                <div style="width: 30%;float: left;">
                    <h3>Ticket Information </h3>

                    <div style="width: 100%;  float: left;" id="dataTicket">

                        <div style="height: 350px; margin: 13px;" id="removeTicket">
                            <div style="border: 1px solid white; padding: 20px; ">

                                <table style="text-align: left !important;">
                                    <tr>
                                        <th>MOVIE TITLE </th>
                                        <td>: <span class="movie_name"></span> </td>
                                    </tr>
                                    <tr>
                                        <th>THEATER </th>
                                        <td>: <span class="theater"></span></td>
                                    </tr>
                                    <tr>
                                        <th>SEAT NO. </th>
                                        <td>: <span class="seatno"></span> </td>
                                    </tr>
                                    <tr>
                                        <th>DATE </th>
                                        <td>: <span class="showdate"></span> </td>
                                    </tr>
                                    <tr>
                                        <th>SHOWTIME </th>
                                        <td>: <span class="showtime"></span> </td>
                                    </tr>
                                    <tr>
                                        <th>Price </th>
                                        <td>: $ <span class="price"></span> </td>
                                    </tr>
                                    <tr>
                                        <th>Discount </th>
                                        <td>: <span class="discount"></span>% </td>
                                    </tr>
                                    <tr>
                                        <th>Total Price </th>
                                        <td>: $ <span class="total_price"></span> </td>
                                    </tr>
                                    <tr>
                                        <th>User </th>
                                        <td>: <span class="fullNm"></span> </td>
                                    </tr>

                                </table>
                            </div>
                            <div>
                                <input type="text" style="width: 190px;" id="remark" placeholder="Bank Account">
                            </div>
                            <span style="text-align: center;">

                                <Button
                                    style="padding: 5px; background-color: pink; border-radius: 7px;  width: 200px;  font-size: 19px;  height: 35px;"
                                    id="btnPayment">
                                    Payment</Button></span>
                        </div>



                    </div>



                </div>
                <div style="width: 70%;float: left;height: 500px;">
                    <h3>History Records</h3>

                    <table id="historyRec">
                        <colgroup>
                            <col style="width:5%;">
                            <col style="width:20%;">
                            <col style="width:10%;">
                            <col style="width:12%;">
                            <col style="width:15%;">
                            <col style="width:8%;">
                            <col style="width:8%;">
                            <col style="width:8%;">
                            <col style="width:15%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>MOVIE TITLE</th>
                                <th>THEATER</th>
                                <th>SEAT NO</th>
                                <th>SHOWTIME</th>
                                <th>PRICE</th>
                                <th>DISCOUNT</th>
                                <th>TOTAL</th>
                                <th>USER</th>

                            </tr>
                        </thead>
                        <tbody id="dataHirstoryRecord">
                            
                            
                        </tbody>
                    </table>

                </div>
            </div>





        </div>

        <div class="footer">

            <div class="flex-container">
                <div class="flex-item-left">
                    <h4>About Us</h4>
                    <p style="text-align: justify;">We are an online database of
                        information related to films, television series, podcasts,
                        home videos, video games, and streaming content online –
                        including cast, production crew and personal biographies,
                        plot summaries, trivia, ratings, and fan and critical reviews.
                    <h5>Tel: +123456789</h5>
                    <h5>Email: info@moviesite.com</h5>

                    <div>
                        <span class="boxEmail"> Enter your Email</span>
                        <span class="boxEmail" style="background-color: rgb(241 150 1);color: white;"> Send</span>
                    </div>

                </div>
                <div class="flex-item-center">
                    <h4>Developed By</h4>
                    <ul>
                        <li>Name: <strong>Phearun Phin</strong></li>
                        <li>Name: <strong>Kevin Chemutai</strong></li>
                        <li>Name: <strong>Meseret Yihun Amare</strong></li>
                        <li>Name: <strong>Teketsel Mengistu Beyene</strong></li>

                    </ul>

                    <h4>Latest Tweet</h4>
                    <ol>
                        <li>Prepare for eye-popping, jaw-dropping, non-stopping fun! ⚡️
                            SHAZAM! FURY OF THE GODS – now playing only in theaters. Get tickets now</li>
                        <li>Actors - What one word would you say describes your character?
                            Writer(s) - What's your inspiration for these movies?</li>
                        <li>What are some of the things you and your character have in common? #MovieNight</li>
                    </ol>


                </div>
                <div class="flex-item-right">
                    <h4>Top Movies</h4>

                    <div class="grid-movies">

                        <div class="movies1"><img src="img/m12.jpg" /></div>
                        <div class="movies2"><img src="img/m5.jpg" /></div>
                        <div class="movies3"><img src="img/m7.jpg" /></div>
                        <div class="movies4"><img src="img/m13.jpg" /></div>

                    </div>
                </div>


            </div>

            <hr />
            <div>
                <div class="nav">
                </div>
                <div class="boxSearch">
                    <img src="/img/logo12.png" width="100px" />
                </div>
            </div>

        </div>


    </div>
</body>

</html>