<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function saveData() {
        var formData = new FormData($("#myForm")[0]);
        $.ajax('/api/login',{
            "type":"POST",
            "data": formData
        }).done(function(data){
            console.log(data)
        }).fail(function(err){
            console.log(err)
        })

    }
</script>

<body>
    <form id="myForm" action="/api/login" method="post" enctype="multipart/form-data">
        <label for="">User Name: <input type="text" name="username" id="username" /></label>
        <label for="">Image: <input type="file" name="profilepic" id="profilepic"></label>
        <button type="submit">Save</button>
    </form>
</body>

</html>